<div class="container">
  <div class="avatar">
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/main/avatar.jpg"
      alt="avatar"
    />
  </div>
  <div class="menus">
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/3080e1ce5ed3779c928d145d29fbe47229ae39a8/community.svg"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/3080e1ce5ed3779c928d145d29fbe47229ae39a8/statusIcon.svg"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/3080e1ce5ed3779c928d145d29fbe47229ae39a8/chatIcon.svg"
      alt=""
    />
    <img
      src="https://raw.githubusercontent.com/AbhiMophare/project-images/3080e1ce5ed3779c928d145d29fbe47229ae39a8/moreVertIcon.svg"
      alt=""
    />
  </div>
</div>
