.container {
  display: flex;
  flex-direction: column;
  /* background-color: #f0f2f5; */
  height: 43rem;
  border-right: 2px solid #ccc;
}
/* .header {
  border: 1px solid black;
}
.search {
  border: 1px solid black;
} */
.chats {
  /* border: 1px solid black; */
  height: clac(43rem - 7.1rem);
}
